{% extends 'tienda/base.html' %}
{% block content %}
    <br><h1>Producto: {{ producto.nombre }}</h1>
        <p>Marca: {{ producto.marca }}</p>
        <p>Modelo: {{ producto.modelo }}</p>
        <p>Precio: {{ producto.precio }}€</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <br>
        <button type="submit" class="btn btn-primary">Comprar</button>
    </form>
    <a href="{% url 'compra' %}" class="btn btn-primary">Volver a productos</a>
{% endblock %}