{% extends 'tienda/base.html' %}
{% block content %}
    <div class="container">
    <h1 class="">Listado de Productos <a class="btn btn-primary" href="{% url 'nuevo_producto' %}" type="button">Nuevo Producto</a></h1>
        <div class="row">
            <div class="col-lg-3">
                {# FORMULARIO #}
                <div class="formulario">
                    <form class="mb-3">
                        <div class="input-group mt-5">
                            {{ form.texto }}
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                        <div class="input-group mt-3">
                            {{ form.marca }}
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </form>
                    <a href="{% url 'listar_productos' %}" class="btn btn-primary">Resetear</a>
                </div>
            </div>
            <div class="col-lg-9">
                {# LISTADO DE PRODUCTOS #}
                {% for producto in productos %}
                    <div class="card d-inline-block my-2 mx-2" style="width: 18rem;">
                        {#<img class="card-img-top" src="..." alt="Card image cap">#}
                        <div class="card-body">
                            <h5 class="card-title text-dark">{{ producto.nombre }}</h5>
                            <p class="card-text text-dark">Modelo: {{ producto.modelo }}</p>
                            <p class="card-text text-dark">Unidades: {{ producto.unidades }}</p>
                            <p class="card-text text-dark">Precio: {{ producto.precio }}€</p>
                            <a class="btn btn-success" href="{% url 'editar_producto' pk=producto.pk %}" type="button">Editar</a>
                            <a class="btn btn-danger" href="{% url 'eliminar_producto' pk=producto.pk %}" type="button">Eliminar</a>
                        </div>
                    </div>
                {% empty %}
                    <p>No hay productos disponibles.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}